#Пароль пользователя
POSTGRESQL_PASSWORD=

#OAuth2 
OAUTH_USER=
OAUTH_PASSWORD=
OAUTH_CLIENT_SECRET=
OAUTH_CLIENT_ID=

#Имя пользователя в бд
POSTGRESQL_USER=postgres
#Название базы данных
POSTGRESQL_DB_NAME=well_sensor_analytics
